.hero{
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    margin-bottom: 75px;
}
 .menu a{
    color:goldenrod !important;
     font-size: 20px;
     font-weight: 600;
}
 .logo{
     color: #4c98af;
 }
 .logo h3{
     margin-left: 50px;
 }
 .card .img{
     height: 100px;
 }
 .rooms-container .card{
    margin-top: 150px;
 }
 .rooms-container .room{
     margin-right: 10px;
 }
.about-countainer{
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-img{
    height: 350px;
    width: 100%;
    border-radius: 10px;
}
.about-countainer .about-content{
    margin-top:30px;
}
.facilities-container{
    margin: 25px 110px;
}
.facilities-container .facilities{
    margin-right: 30px;
}
.contact-container{
    margin-top: 30px;
}
.login-form{
    margin-top: 100px;

}
.hero-text{
    margin-top: -400px;
    margin-bottom: 250px;
    color: white;
    font-size: 20px;
}
h2{
    font-family: fantasy;
    color: #fd7e14;
}
